<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Usuarios</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo lista todos los usuarios.</p>
  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px;">Filtro de usuarios</h5>
  </div>
  <div class="card-header">
    <form #filtroForm="ngForm" (ngSubmit)="filtrar()">
      <div class="row">
        <div class="col-lg-3 form-group">
          <label class="sr-only" for="inline-form-input-name">Id</label>
          <input class="form-control" id="filtro_id" name="filtro_id" [(ngModel)]="filtro.id" type="text"
            placeholder="Filtro Id">
        </div>
        <div class="col-lg-3 form-group">
          <label class="sr-only" for="inline-form-input-name">Nombre</label>
          <input class="form-control" id="filtro_nombre" name="filtro_nombre" [(ngModel)]="filtro.nombre" type="text"
            placeholder="Filtro nombre">
        </div>
        <div class="col-lg-5 col-md-6 form-group">
          <!-- Inline radio buttons -->
          <label class="sr-only">Rol</label>
          <div class="cntr">
              <label for="rdo-1" class="btn-radio cursor">
                <input type="radio" id="rdo-1" value="" name="rol" [(ngModel)]="filtro.rol">
                <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <circle cx="10" cy="10" r="9"></circle>
                  <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                  <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                </svg>
                <label for="rdo-1" class="cursor">Ambos</label>
              </label>
                <label for="rdo-2" class="btn-radio cursor">
                  <input type="radio" id="rdo-2" value="admin" name="rol" [(ngModel)]="filtro.rol">
                  <svg width="20px" height="20px" viewBox="0 0 20 20">
                    <circle cx="10" cy="10" r="9"></circle>
                    <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                    <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                  </svg>
                  <label for="rdo-2" class="cursor">Admin</label>
                </label>
                <label for="rdo-3" class="btn-radio cursor">
                  <input type="radio" id="rdo-3" value="user" name="rol" [(ngModel)]="filtro.rol">
                  <svg width="20px" height="20px" viewBox="0 0 20 20">
                  <circle cx="10" cy="10" r="9"></circle>
                  <path d="M10,7 C8.34314575,7 7,8.34314575 7,10 C7,11.6568542 8.34314575,13 10,13 C11.6568542,13 13,11.6568542 13,10 C13,8.34314575 11.6568542,7 10,7 Z" class="inner"></path>
                  <path d="M10,1 L10,1 L10,1 C14.9705627,1 19,5.02943725 19,10 L19,10 L19,10 C19,14.9705627 14.9705627,19 10,19 L10,19 L10,19 C5.02943725,19 1,14.9705627 1,10 L1,10 L1,10 C1,5.02943725 5.02943725,1 10,1 L10,1 Z" class="outer"></path>
                  </svg>
                  <label for="rdo-3" class="cursor">User</label>
              </label>
            </div>
      </div>
      </div>
      <div class="card-footer">
        <div class="row justify-content-end">
          <button class="btn btn-outline-primary mr-3" type="submit">Filtrar</button>
          <a (click)="limpiarFiltro()" class="btn btn-outline-warning">Limpiar filtros</a>
        </div>
      </div>
    </form>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
          </tr>
        </thead>
        <tbody *ngIf="load_data">
          <tr>
            <td class="text-center" colspan="5">
              <div class="spinner-border text-danger m-2" role="status">
                <span class="visually-hidden"></span>
              </div>
            </td>
          </tr>
        </tbody>
        <ng-container *ngIf="!load_data && has_data">
          <tbody
            *ngFor="let item of usuarios | slice:(page - 1) * pageSize:(page-1)* pageSize+ pageSize; let indice = index">
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>
                <div *ngIf="item.role == 'admin'" class="badge badge-primary" style="color:white;">
                  <b>{{item.role | uppercase }}</b>
                </div>
                <div *ngIf="item.role == 'user'" class="badge badge-success" style="color:white;">
                  <b>{{item.role | uppercase }}</b>
                </div>
              </td>
            </tr>
          </tbody>
        </ng-container>
      </table>
      <ng-container *ngIf="!has_data">
        <h3 class="text-center shadow-text">No hay usuarios registrados</h3>
      </ng-container>
    </div>
  </div>
  <div class="card-footer" *ngIf="has_data">
    <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="usuarios.length"></ngb-pagination>
  </div>
</div>
